{% extends "teacher/base.html" %}
{% block title %}Teacher Home{% endblock title %}
{% block content %}
<br>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h3 class="account-heading">Username: {{ user.username }}</h3>
        <h3 class="account-heading">Name: {{ user.first_name }} {{ user.last_name }}</h3>
      <p class="text-secondary">Email: {{ user.email }}</p>

    </div>
  </div>

<a class="btn" href="{% url 'change_password' %}">Change Password</a>

{% endblock content %}